:root {
    font-size: calc(0.625rem + 0.4vw);
}

body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
}

#nav-bar > h1 {
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

#nav-bar > #under-line {
    height: 2px;
    background-color: #fff;
    width: 100vw;
}

#nav-bar > ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
}

#nav-bar > ul > #special {
    font-size: 2.3rem;
    list-style: none;
    color: #aef3f3;
    padding: 10px 0;
    transition: 0.3s;
}

#nav-bar > ul > #special:hover {
    font-size: 2.5rem;
    color: #6bf3f3;
    text-decoration: underline;
}

#nav-bar > ul > .nav-item {
    font-size: 2rem;
    list-style: none;
    padding: 10px 0;
    transition: 0.3s;
}

#nav-bar > ul > .nav-item:hover {
    text-decoration: underline;
    font-size: 2.2rem;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

footer {
    height: 10%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer > a > img {
    width: 30px;
    margin-left: 10px;
}